<div class="livros livros-list-item">
    <div class="livros-cover">
        <a href="{% url 'livros:livro' livro.id %}">
            <img src="{{ livro.cover.url }}" alt="Temporario">
        </a>
        <div class="livros-title-container">
            <h2 class="livros-title">
                <a href="{% url 'livros:livro' livro.id %}">
                    {{ livro.title}}
                </a>
            </h2>
        </div>

        <div class="livros-author">
            <span class="livros-author-item">
                <i class="fas fa-user"></i>
                {{ livro.author.first_name}} {{ livro.author.last_name}}
            </span>

            <span class="livros-author-item">
                <i class="fas fa-calendar-alt"></i>
                {{ livro.launched_in|date:"d/m/Y" }}
            </span>

            <span class="livros-author-item">
                <a href="livros/category/fantasia">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ livro.category.name }}</span>
                </a>
            </span>
        </div>

        <div class="livros-content">
            <p>{{ livro.description }}</p>
        </div>

        <div class="livros-meta-container">
            <div class="livros-meta livros-preparation">
                <h3 class="livros-meta-title"><i class="fas fa-stopwatch"></i> Leitura</h3>
                <div class="livros-meta-text">
                    {{ livro.reading_time }} {{ livro.reading_time_chapter }}
                </div>
            </div>

            <div class="livros-meta livros-servings">
                <h3 class="livros-meta-title"><i class="fa-regular fa-book"></i> Quantidade</h3>
                <div class="livros-meta-text">
                    {{ livro.amount }} {{ livro.amount_unit }}
                </div>
            </div>
        </div>
        {% if is_detail_page is not True %}
        <footer class="livros-footer">
            <a class="livros-read-more button button-dark button-full-width" href="{% url 'livros:livro' livro.id %}">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
        {% endif %}

        {% if is_detail_page is True %}
        <div class="chapters">
            {{ livro.chapters|linebreaksbr }}
        </div>
        {% endif %}
    </div>
</div> <!--livros-list-item-->